* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.all-iterms {
  width: 70%;
  margin: 10px auto;
  border: 1px solid black;
}

.my-cid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 70%; */
  margin: 0 auto;
  background: red;
}

.cid {
  display: flex;
  flex-direction: column;
}

.maincontainer {
  padding: 20px 0;
  /* width: 70%; */
  margin: 0 auto;
  background: green;
}

#form {
  width: 70%;
  margin: 0 auto;
  /* background-color: orange; */
}

label {
  padding: 10px 0;
}

.bill,
.payment {
  width: 200px;
}

input {
  padding: 10px;
}

.change-btn {
  display: flex;
  justify-content: center;
}

.submit {
  margin-top: 30px;
  padding: 10px 25px;
  cursor: pointer;
}

.input {
  width: 70px;
}

.display-text {
  /* width: 70%; */
  margin: 0 auto;
}

h3 {
  padding: 20px 0;
  text-align: center;
}

.display-currency-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background:yellow;
}

.display {
  text-align: center;
}
