* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  width: 85%;
  margin: 0 auto;
  height: 1px;
  background-color: #000000f5;
  border: none;
}

.all-iterms {
  width: 70%;
  margin: 10px auto;
  padding: 15px 0;
  border-radius: 10px;
  background: #7b5a08a2;
  box-shadow: 0 5px 7px 0 #222020;
}

.my-cid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.cid {
  display: flex;
  flex-direction: column;
}

#currency-nodes {
  padding: 10px 0;
  width: 65%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.maincontainer {
  padding: 20px 0;
  margin: 0 auto;
}

#form {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}

label {
  padding: 10px 0;
}

.bill,
.payment {
  width: 200px;
}

input {
  padding: 10px;
}

.change-btn {
  display: flex;
  justify-content: center;
}

.submit {
  margin-top: 30px;
  padding: 10px 25px;
  cursor: pointer;
  color: #7b5b08;
}

.input {
  width: 70px;
}

.display-text {
  margin: 0 auto;
}

h3 {
  padding-top: 25px;
  text-align: center;
}

.display-currency-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.display {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .all-iterms {
    width: 96vw;
  }

  #form {
    display: flex;
    flex-direction: column;
  }

  .name,
  .pay,
  .bill,
  .payment {
    margin: 0 auto;
  }
}
